<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Login Cliente</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../assets/favicon/favicon.ico" >
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles_login.css">
</head>
<body>
<content id="fundo">
  <main class="login">
    <div class="login_container" style="height: 330px;">

      <h6 class="form-sol">Entrar como:</h6>
      <select class="form-select" aria-label="Default select example">      
        <option value="3">Cliente</option>
      </select><br>

        <h6 class="form-sol">Nome:</h6>
        
        <div class="form-group">
        <input type="name" class="form-control" id="exampleInputEmail1" >
        </div><br>
        <a href="cliente-solicitação.html">
          <button class="btn" style="background-color:#BA3135; color: white; margin:0 auto;">Fazer Solicitação</button>
        <!-- <a class="link_log" href="#">Recuperar senha</a> -->
        </a>
    </div>
</main>


</content>
</body>

</html>