<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Solicitações Recebidas</title>

  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light " navbar-dark" style="background-color:#BA3135;">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('cliente_soli_recebida') }}">Consultar</a> <!-- consulta_clinte.html-->
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{{ url_for('cliente_so') }}">Solicitação de Serviço</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('lg_cliente') }}">Sair</a> 
        </li>
      </ul>
    </div>
  </nav>

  <content id="fundo">
    <br>
    <h1>SOLICITAÇÕES REALIZADAS</h1><br>

    <form method="POST" action="{{ url_for('cliente_soli_recebida') }}">

      <div class="form-group">
        <select name="c_cliente" id="select-solrec" size="20" style="width: 100%;">

          <option value="S1"> </option>
          <option value="S2"> </option>
          <option value="S1"> </option>
          <option value="S2"> </option>

        </select>
      </div><br>

    
    <div class="btn-solicita">
      <a class="btn btn-primary" href="#" role="button"
        style="background-color:#BA3135; border: none; border: none; box-shadow: 0 0 0 0;" data-bs-toggle="modal"
        data-bs-target="#modalsolrec">Abrir</a> <br><br>
    </div>
  </form>
  
    <!-- Modal -->
    <div class="modal fade" id="modalsolrec" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">SOLICITAÇÃO DE SERVIÇO</h5>
            <button type="button" class="btn-close" style="border: none; box-shadow: 0 0 0 0;" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">


        <form method="POST" action="{{ url_for('cliente_soli_recebida') }}">
              <h6 class="modal-sol">Nome:</h6>
              <div class="modal-group">
                <input type="text" name="nome" class="form-control" id="srcNome" required readonly>
              </div><br>

              <h6 class="modal-sol">E-mail:</h6>
              <div class="modal-group">
                <input type="email" name="email" class="form-control" id="srcEmail" required readonly>
              </div><br>

              <!--<h6 class="modal-sol">CPF:</h6>
              <div class="modal-group">
                <input type="number" name="cpf" class="form-control" id="srcCpf" required readonly>
              </div><br>

              <h6 class="modal-sol">Celular:</h6>
              <div class="modal-group">
                <input type="number" name="celular" class="form-control" id="srcCelular" required readonly>
              </div><br>-->

              <h6 class="modal-sol">Assunto:</h6>
              <div class="modal-group">
                <input type="text" name="assunto" class="form-control" id="srcAssunto" required readonly >
              </div><br>

              <h6 class="modal-sol">Descrição:</h6>
              <div class="modal-group">
                <textarea name="descricao" required readonly style="resize: none;" class="form-control" id="srcDesc"
                  rows="7"></textarea>
              </div><br>

              <h6 class="modal-sol">Diagnóstico dado pelo técnico:</h6>
              <div class="modal-group">
                <textarea name="diagnostico" required readonly style="resize: none;" class="form-control" id="srcDiag"
                  rows="7"></textarea>
              </div><br>

              <!--<h6 class="modal-sol">Resolução do probema descrita pelo técnico:</h6>
              <div class="modal-group">
                <textarea name="resolução" required readonly style="resize: none;" class="form-control" id="srcRes"
                  rows="7"></textarea>
              </div><br>-->
          </div>
          <div class="modal-footer">
            <a class="btn btn-primary" href="{{ url_for('cliente_soli_recebida') }}" role="button"
              style="background-color:#BA3135; border: none; box-shadow: 0 0 0 0;"> Sair</a>
          </div>
        </form>
        </div>
      </div>
    </div>
    
  </content>




</body>

</html>