<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo2.ico" type="image/x-icon">
    
    <title>Minhas Solicitações </title>
    
	  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/styles_menu.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="{{ url_for('solicitacao_administrador') }}">Solicitar serviço</a></li>
          <li><a href="{{ url_for('consulta_administrador1') }}">Minhas solicitações</a></li>
          <li><a href="{{ url_for('consulta_administrador3') }}">Responder solicitações</a></li>
          <li><a href="{{ url_for('consulta_administrador') }}">Solicitações encerradas</a></li>
          <li><a href="{{ url_for('config_adm') }}">Configurações de usuários</a></li>
          <li><a href="{{ url_for('grafico') }}">Estatísticas</a></li>
          <li><a href="{{ url_for('login') }}">Sair</a></li>
        </ul>
      </nav>
    </header>
    <script src="../static/js/menu_api.js"></script>
  

        <br>
        <h1>MINHAS SOLICITAÇÕES </h1><br>
        
     <table class="table table-bordered" style="border: 5px; text-align: center;">
          <thead class="thead-dark">
            <content id="fundo">

            <tr> 
              <th scope="col">Início </th>
              <th scope="col">Término </th>

              <th scope="col">Tipo de Problema</th>
              <th scope="col">Status</th>
              <th scope="col">Visualizar</th>
            </tr>
          </thead>

         
          
        
        {% for user in exe1 %}     
          <tbody>
            <tr>
              <td> {{ user[1].strftime('%d/%m/%y - %H:%M:%S') }}  </td>
              <td> {{ user[2].strftime('%d/%m/%y - %H:%M:%S') if user[2] }}  </td>
              <td> {{ user[5] }} </td>
              <td> {{ user[11]}}</td>
            <form action="/abrir_solicitacao_adm1/{{user.0}}" method="GET">
              <td ><button type="submit" >Abrir</button></td>
            </form>
            </tr>
          </tbody>
        {% endfor %}
        

     </table>   <br> 
{% block  conteudo %}   
     {% with resp = get_flashed_messages() %}
        {% if resp %}
             {% for msg in resp %}
                  <div class="alert alert-danger" style="text-align: center;"> {{msg}} </div>
             {% endfor %}
        {% endif %}
      {% endwith %}  
  
{% endblock %} 
     <br><br><br><br>
    </content>

</body>

</html>


