<!doctype html>
<head>
  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="https://me.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=9wnoC38c4hHlmi19KvTxJIe1gZRlaJtjZreVNrJEyvcVDupuIOQnkENemqkOjME0Z4OSsw-B2qb3wYTw5Id-3wDbQtYIXlCLy5UANXlDUsf2qv0hSP5atIyaZZZ5SMKwcEokrMohnnnRiiQN750qjg" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://me.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvOTYxMzU5NjQ0MDU0MzkyODQyLzk3NDgxMzQ5NDkzMzMzMjA4OC9ncmFmaWNvcy5odG1s"/><script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="shortcut icon" href="../static/img/logo2.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/styles_menu.css">
  <title>Estatísticas</title>
  
  <div class="graf">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    

      google.load('visualization', '1', {'packages':['corechart']});
      

      google.setOnLoadCallback(drawChart);
      

      function drawChart() {

        var data = new google.visualization.DataTable(); // Torta
        data.addColumn('string', 'Status');
        data.addColumn('number', 'porcent dos Status');
        data.addRows([
                {%- for status, num in data %}
                ['{{ status }}', {{ num }}],
                {%- endfor %}
        ]);

        var data2 = new google.visualization.DataTable();
        data2.addColumn('timeofday', 'Média');
        data2.addColumn('number', '0 Estrela');
        data2.addColumn('number', '1 Estrela');
        data2.addColumn('number', '2 Estrelas');
        data2.addColumn('number', '3 Estrelas');
        data2.addColumn('number', '4 Estrelas');
        data2.addColumn('number', '5 Estrelas');
        data2.addColumn('number', '6 Estrelas');
        data2.addColumn('number', '7 Estrelas');
        data2.addColumn('number', '8 Estrelas');
        data2.addColumn('number', '9 Estrelas');
        data2.addColumn('number', '10 Estrelas');


        data2.addRows([
                  [{
                v: [10, 10, 10],
                f: 'Avaliação'
                }, {{nestrela0}}, {{nestrela1}}, {{nestrela2}}, {{nestrela3}}, {{nestrela4}}, {{nestrela5}}, 
                {{nestrela6}}, {{nestrela7}}, {{nestrela8}}, {{nestrela9}}, {{nestrela10}}],
        ]);

        var data3 = new google.visualization.DataTable();
        data3.addColumn('number', 'X');
        data3.addColumn('number', 'Pendentes');
        data3.addColumn('number', 'Finalizados');
        data3.addColumn('number', 'Recusados');

        data3.addRows([
          [0, 0, 0, 0],    [1, 10, 5, 9],   [2, 23, 15, 9],  [3, 17, 9, 9],   [4, 18, 10, 9],  [5, 9, 5, 9],
          [6, 11, 3, 9],   [7, 27, 19, 9],  [8, 33, 25, 9],  [9, 40, 32, 9],  [10, 32, 24, 9], [11, 35, 27, 9],
          [12, 30, 22, 9], [13, 40, 32, 9], [14, 42, 34, 9], [15, 47, 39, 9], [16, 44, 36, 9], [17, 48, 40, 9],
          [18, 52, 44, 9], [19, 54, 46, 9], [20, 42, 34, 9], [21, 55, 47, 9], [22, 56, 48, 9], [23, 57, 49, 9],
          [24, 60, 52, 9], [25, 50, 42, 9], [26, 52, 44, 9], [27, 51, 43, 9], [28, 49, 41, 9], [29, 53, 45, 9],
          [30, 55, 47, 9], [31, 60, 52, 9], [32, 61, 53, 9], [33, 59, 51, 9], [34, 62, 54, 9], [35, 65, 57, 9],
          [36, 62, 54, 9], [37, 58, 50, 9], [38, 55, 47, 9], [39, 61, 53, 9], [40, 64, 56, 9], [41, 65, 57, 9],
          [42, 63, 55, 9], [43, 66, 58, 9], [44, 67, 59, 9], [45, 69, 61, 9], [46, 69, 61, 9], [47, 70, 62, 9],
          [48, 72, 64, 9], [49, 68, 60, 9], [50, 66, 58, 9], [51, 65, 57, 9], [52, 67, 59, 9], [53, 70, 62, 9],
          [54, 71, 63, 9], [55, 72, 64, 9], [56, 73, 65, 9], [57, 75, 67, 9], [58, 70, 62, 9], [59, 68, 60, 9],
          [60, 64, 56, 9], [61, 60, 52, 9], [62, 65, 57, 9], [63, 67, 59, 9], [64, 68, 60, 9], [65, 69, 61, 9],
          [66, 70, 62, 9], [67, 72, 64, 9], [68, 75, 67, 9], [69, 80, 72, 9]
        ]);

      

        var options = {
                title: 'GRÁFICO DE SITUACÃO DAS SOLICITAÇÕES',
                height: 500,
                // colors: ['#C66F72','#BA3135', '#872326'],
                width: 500,                
                isStacked: 'percent',
                hAxis: {minValue: 0},
                backgroundColor: 'none',
                titleTextStyle: { color: 'black',
                fontName: 'Arial',
                fontSize: '500px',
                bold: 'true'
                },
                legend:{position: 'top', pageIndex: 2},                      
            }

          var options2 = {
            title: 'MÉDIA DO SISTEMA',
            subtitle: 'Baseado nas avaliações do técnico',
            height: 500,
            // colors: ['red'],
            width: 1000,                    
            backgroundColor: 'none',
            titleTextStyle: { color: 'black',
            fontName: 'Arial',
            fontSize: '500px',
            bold: 'true',
            position: 'center',
            },          
            hAxis: { textPosition: 'none' },            
            legend:{position: 'top', maxLines: 5},            
        }

        var options3 = {
            title: 'QUANTIDADE DE CHAMADOS',
            // colors: ['yellow', 'green','red'],         
            height: 500,
            hAxis: {title: 'Dias'},
            vAxis: {title: 'Quantidade'},                  
            width: 1000,                    
            backgroundColor: 'none',
            titleTextStyle: { color: 'black',
            fontName: 'Arial',
            fontSize: '500px',
            bold: 'true',
            position: 'center',          
            },    
            legend:{position: 'top', maxLines: 4},            
        }


        var chart = new google.visualization.PieChart(
                document.getElementById('chart_div'));
        chart.draw(data, options);

        var chart2 = new google.visualization.ColumnChart(
                document.getElementById('chart_div2'));
        chart2.draw(data2, options2);

        var chart3 = new google.visualization.LineChart(
                document.getElementById('chart_div3'));
        chart3.draw(data3, options3);

      }

    </script>
  </div>


</head>




<body>
  <header>
    <nav>
      <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="{{ url_for('solicitacao_administrador') }}">Solicitar serviço</a></li>
        <li><a href="{{ url_for('consulta_administrador1') }}">Minhas solicitações</a></li>
        <li><a href="{{ url_for('consulta_administrador3') }}">Responder solicitações</a></li>
        <li><a href="{{ url_for('consulta_administrador') }}">Solicitações encerradas</a></li>
        <li><a href="{{ url_for('config_adm') }}">Configurações de usuários</a></li>
        <li><a href="{{ url_for('grafico') }}">Estatísitcas</a></li>
        <li><a href="{{ url_for('login') }}">Sair  </a></li>
      </ul>
    </nav>
  </header>
  <script src="../static/js/menu_api.js"></script>
  <br>
  <h1>ESTATÍSTICAS  {{filtro}}</h1>


  <!-- <div id="content">
    <div class="filter" style="display: flex; flex-direction: column; justify-content:center; gap: 5%; margin-top: -20px">
    <h6 class="form-tempo">Tempo:</h6>
    <div class="filtro1">
      <select name="tempo">     
      <option value="dia">dia</option> 
      <option value="semana">semana</option>
      <option value="mês">mês</option>
      <option value="tudo">tudo</option></select>
    </div>
    </div><br> -->


  <div style="display: flex; flex-direction: column; justify-content:center; gap: 5%; margin-top: -20px;">
    <div id="content">
      <div id="chart_div" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center"></div>
    </div>




    <div id="content">
      <div id="chart_div2" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center"></div>
    </div>




</div>

<form action="/filtroTempoPiz" method="POST" >
    <div id="content">
      <h6 class="form-tempo">Mês:</h6>
      <div class="filtro3">
        <select name="tempo"> 
      
        <option value="dia">dia</option> 
        <option value="semana">semana</option>
        <option value="mês">mês</option>
        <option value="tudo">tudo</option></select>
      </div><br>
      <div id="chart_div3" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center"></div>
    </div>
  </form>
</div>
{% block  conteudo %}   
    {% with resp = get_flashed_messages() %}
       {% if resp %}
            {% for msg in resp %}
                 <div class="alert alert-danger" style="text-align: center;"> {{msg}} </div>
            {% endfor %}
       {% endif %}
     {% endwith %}  
 
{% endblock %} 


<div id="content">
  <div class="filter" style="display: flex; flex-direction: column; justify-content:center; gap: 5%; margin-top: -80rem; margin-left: 10rem;">
    <h6 class="form-tempo">Tempo:</h6>
    <div class="filtro1">
      <select name="tempo">     
        <option value="dia">dia</option> 
        <option value="semana">semana</option>
        <option value="mês">mês</option>
        <option value="tudo">tudo</option>
      </select>
    </div>
  </div><br>
</div>

<div style="justify-content: space-around ; width: 20vh; height: 10vh; align-items: center; display:flex ; flex-direction: row; flex-wrap: wrap;">
    <form action="FiltroDia" method="POST">
      <button> dia </button>
  </form>

  <form action="/FiltroSemana" method="POST">
    <button> semana </button>
  </form>

  <form action="/FiltroMes" method="POST">
    <button> mes </button>
  </form>
</div>


</body>

