<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Login</title>
    
	  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/styles_login.css">
</head>
<body>
<content id="fundo">
  <main class="login">
    <div class="login_container" style="height: 315px;">

      <h6 class="form-sol">Entrar como:</h6>
      <select name="form-select" class="form-select" aria-label="Default select example";>
        <option value="Div0">Selecione</option>
        <option value="Div2">Executor</option>
        <option value="Div3">Cliente</option>
      </select><br>

        
    <div class="DivPai">   
        
        <div class="Div0">
          <img id="fatec" src="../static/img/fatec.png" alt="logofatec" style="width:200px; margin: 0 auto; display: block;">
          
          <p style="line-height: 50px; text-align: center;">Projeto em desenvolvimento.<p>  
        </div>

        <div class="Div2">
        <form method="POST" action="{{ url_for('lg_executor') }}">
          <h6 class="form-sol">Senha:</h6>       
          <input  type="password" name="senha_executor" class="form-control" id="div2" required ><br>       
          <a name="bt_senha_executor" class="btn btn-primary" href="{{ url_for('soli_recebida') }}"  role="button"  style="background-color:#BA3135; border: none; box-shadow: 0 0 0 0;">Entrar</a> 
        </div>
        </form>

        <div class="Div3">
        <form method="POST" action="{{ url_for('lg_cliente') }}">
          <h6 class="form-sol">CPF:</h6>       
          <input type="number" name="cpf_cli" class="form-control" id="div3" required ><br>         
          <a name="bt_cpf_cli" class="btn btn-primary"  href="{{ url_for('cliente_so') }}" role="button" 
          style="background-color:#BA3135; border: none; box-shadow: 0 0 0 0;">Fazer Solicitação</a>
          
        </form>  

        </div>
       </div>  
    </div>
</main>
</content>
</body>

</html>