<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Página Inicial Adm</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../assets/favicon/favicon.ico" >
	  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">





</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " navbar-dark" style="background-color:#BA3135;">
        <div class="collapse navbar-collapse" id="navbarNav">
        <!--img id="logo" src="../static/img/logo.png" alt="Avatar Logo" style="width:150px;" class="rounded-pill"-->
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="paginicial_adm.html">Página inicial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="solicitação_adm.html">Solicitação de Serviço</a>
            </li>
            <!----<li class="nav-item">
              <a class="nav-link" href="#">Consultar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""></a> 
            </li>-->
          </ul>
        </div>
      </nav>

  <content id="fundo"> </content>
  <div class="Título"><b>SOLICITAÇÕES DE SERVIÇO RECEBIDAS</div></b>
  
  <div class="center">    
    <form action="#">
      <select name="Solicitação" id="lang" size="20" style= "width: 100%; height: 40%">
        <option value="S1"> Exemplo 1 </option>
        <option value="S2"> Exemplo 2 </option>
        <option value="S3"> Exemplo 3 </option>
        <option value="S4"> Exemplo 4 </option>
      </select>

      <br>
      <br>
      <br>
      <br>

      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="position: absolute; right: 2%; ; padding-left: 7%; padding-right: 7%; border: 1px solid black;">Abrir</button>
    </form>

      
  </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="center" style="width: 69%; height: auto; top: 50%; position: absolute;">
      
        <!-- Modal content-->
        <div class="modal-content" style="width: auto;">

          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" style="right: 2%; position: absolute;">&times; </style></button>

            <!-- Título -->
            <h3 class="modal-title" style="font-weight: bold;">RELATÓRIO DE SERVIÇO</h3>
            
          </div>

          <p><div class="modal-body"> <z style="font-weight: bold;">Tipo de Serviço</z>

            
            <div class="w3-dropdown-hover">
              <!-- Opções do dropdown-->
              <select class="form-select" aria-label="Default select example">
                  <option value="1">Software</option>
                  <option value="2">Esclar/Info</option>
                  <option value="3">Hardware</option>
              </select>
            </div> 

            <!-- Data de abertura de chamada -->
            <z style="padding-left: 3%;"> 
              <label for="fname">Data de abertura de chamada:</label> 
              <input type="date" id="fname" name="fname">
            </z>

            <z style="padding-left: 3%;"> 
              <label for="fname">Data de abertura de chamada:</label> 
              <input type="date" id="fname" name="fname">
            </z>
          </p>

          <z style="padding-left: 24.6%;"> 
            <label for="fname">Data de abertura de chamada:</label> 
            <input type="time" id="fname" name="fname">

          </z>
          <z style="padding-left: 10.7%;"> 
          <label for="fname">Data de Termino de chamada:</label> 
          <input type="time" id="fname" name="fname">
          </z>

          <z> 

            <label for="fname"> <br><br>Nome do Cliente:</label> 
            <input type="text" id="fname" name="fname" style="width: 30%;">
            <z style="padding-left: 3%;">
            <label for="fname"> <br><br>CPF do Cliente:</label> 
            <input type="number" id="fname" name="fname" style="width: 30%;"></z>

          </z>

          <z> 
            <br>
            <label for="fname"> <br><br>Email do Cliente:</label> 
            <input type="text" id="fname" name="fname" style="width: 30%;">
            <z style="padding-left: 3%;">
            <label for="fname"> <br><br>Telefone do Cliente:</label> 
            <input type="number" id="fname" name="fname" style="width: 30%;"></z>

          </z>

          <br>

          <z> 

            <label for="fname"><br><br>Assunto:</label> 
            <input type="text" id="fname" name="fname" style="width: 87%;">

          </z>

          <z> 

            <label for="fname"> <br><br>Descrição do problema:</label> 
            
            <form style=" resize: none;">

              <textarea style="width: 99%; height: 150px; " ></textarea>

            </form>
          </z>

          <z> 

            <label for="fname"> <br><br>Diagnóstico dado pelo técnico:</label> 
            
            <form style=" resize: none;">

              <textarea style="width: 99%; height: 150px; " ></textarea>

            </form>
          </z>

          <z> 

            <label for="fname"> <br><br>Resolução do probema descrita pelo técnico:</label> 
            
            <form style=" resize: none;">

              <textarea style="width: 99%; height: 150px; " ></textarea>

            </form>
          </z>


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Gerar Relatório</button>
          </div>
        </div>
      </div>
    </div> 




  <script>
    // Get the modal
    var modal = document.getElementById('myModal');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

</body>

</html>

