<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Solicitar Serviço</title>

  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light " navbar-dark style="background-color:#BA3135;">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  href="{{ url_for('solicitacao_administrador') }}">Solicitar Serviço</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('consulta_administrador1') }}">Minhas Solicitações </a>  
        </li>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('consulta_administrador3') }}">Responder Solicitação </a>  
      </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('consulta_administrador') }}">Solicitações Encerradas </a>  
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{{ url_for('config_adm') }}">Configurações de Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('grafico') }}">Estatísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Sair</a>
        </li>
      </ul>
    </div>
  </nav>

  <content id="fundo">
    <br>
    <h1>SOLICITAR SERVIÇO</h1>
    <form action="/solicitacao_administrador" method="POST" >
      

      <h6 class="form-sol">Tipo de problema:</h6>
      <div class="form-group">
      <select name="assunto"> 
        
        <option value="Problema de Hardware"  >Problema de Hardware</option> 
        <option value="Problema de Software">Problema de Software</option>
        <option value="Esclarecimento/Informação">Esclarecimento/Informação</option></select>
      </div><br>



      <h6 class="form-sol">Descrição:</h6>
      <div class="form-group">
            <textarea name="descricao" required style="resize: none;" class="form-control" id="SclienteDesc" rows="7"></textarea>
        </div><br>


        <div class="btn-solicita">
          <button id="btnGerar" type="submit"class="btn btn-primary btn-salvar" href="{{ url_for('consulta_administrador') }}" role="button" 
          style="background-color:#BA3135; border: none; box-shadow: 0 0 0 0;" 
          >Gerar solicitação</button>
          
        </div>
      
    </form>
    <br><br><br>

    {% block  conteudo %}   
    {% with resp = get_flashed_messages() %}
       {% if resp %}
            {% for msg in resp %}
              <p class="alert alert-success" style=" text-align: center;"> {{msg}} </p>
            {% endfor %}
       {% endif %}
     {% endwith %}  
 
{% endblock %} 



  </content>
</body>

</html>