<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/img/logo2.ico" type="image/x-icon">

  <title>Consulta de Solicitações </title>

  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/styles_menu.css">
</head>

<body>
  <header>
    <nav>
      <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="{{ url_for('consulta_executor') }}">Responder solicitações</a></li>
        <li><a href="{{ url_for('consulta_executor2') }}">Solicitações encerradas</a></li>
        <li><a href="{{ url_for('solicitacao_executor') }}">Solicitar serviço</a></li>
        <li><a href="{{ url_for('consulta_executor1') }}">Minhas solicitações</a></li>
        <li><a href="{{ url_for('altera_exe') }}">Alterar dados</a></li>
        <li><a href="{{ url_for('login') }}">Sair</a></li>
      </ul>
    </nav>
  </header>
  <script src="../static/js/menu_api.js"></script>



  <content id="fundo">
    <br>
    <h1>SOLICITAÇÕES </h1><br>


    {% for user in Details %}
    <form action="/visualizar_solicitacao_exe2/{{user.0}}" method="POST"> 
          
          
              <h6 class="form-sol">Tipo de Problema:</h6>
              <div class="form-group">
                <input type="text" name="assunto" class="form-control" id="srcAssunto" required readonly placeholder="{{ user[5] }} ">
              </div><br>

              <h6 class="form-sol">Descrição:</h6>
              <div class="form-group">
                <textarea name="descricao" required readonly style="resize: none;" class="form-control" id="srcDesc"
                  rows="7" placeholder="{{ user[6] }}"></textarea>
              </div><br>
          
              <h6 class="form-sol">Resposta:</h6>
              <div class="form-group">
                <textarea name="diagnostico" required readonly style="resize: none;" class="form-control" id="srcDiag"
                  rows="7" placeholder="{{ user[10] }}"></textarea>
              </div><br>

              <div class="btn-aval">
                <a id="btnaval" type="submit" class="btn btn-primary btn-salvar" href="/avaliar/{{user[0]}}"
                  role="button" style="background-color:#1f9b44; border: none; box-shadow: 0 0 0 0;">Avaliar</a><br><br>
              </div>

              <div class="btn-sair">
                <a id="btnsair" type="submit"class="btn btn-primary btn-salvar" href="{{ url_for('consulta_executor2') }}" role="button" 
                style="background-color:#BA3135; border: none; box-shadow: 0 0 0 0;" 
                >Sair</a><br><br>
              </div>

              
          
          {% endfor %}  
        </form>
        </div>
      </div>
    </div>

    
  </content>




</body>

</html>