
.nav-link{
    color: white !important;
    font-family: Arial;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
    display: flex;
    
}

a:hover {
    background-color: #303137;
    text-decoration: none;
    color: #1E1E2A;
    padding: 13px 8rem;
    border: 1px solid #1E1E2A;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
   
}  

#fundo{
    display: block;
    margin:auto;
    padding: 25px;
    text-align: justify;
}

#logo{
    margin-left: 10px;
}

nav{
    width: auto;
    height: 50px;
    display: block;
}
