
.nav-link{
    color: white !important;
    font-family: Arial;
    font-weight: bold;
    margin-left: auto;
    font-size: 14px;
    display: flex;
    
}

.nav-link:hover {
    background-color: #303137;
    text-decoration: none;
    color: #1E1E2A;
    padding: 13px 50px;
    border: 1px solid #1E1E2A;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
   
}  

#fundo{
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    text-align: justify;
    position: relative;
    
}

#logo{
    margin-left: 10px;
}

nav{
    width: auto;
    height: 50px;
    display: block;
}

h1{
    text-align: center;
}

.btn{
    font-size: 15px;   
    font-family: Arial;
    font-weight: bold;
    margin-left: 63.2%;
}

.btn:hover {
    background-color: #303137 !important;    
} 

.form-group, .form-select, .custom-file {
    width: 45%;
    margin: 0 auto !important;
}
.form-sol{
    margin-left: 27.5%;
    
}

.modal-content{
    display: block;
}

.modal-header{
    margin-left: 30%;
    margin-right: 30%;
}

.Título{
    font-size: x-large;
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
}

.center{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}